[submodule "lib/ClassLoader"]
	path = lib/ClassLoader
	url = https://github.com/symfony/ClassLoader.git

[submodule "lib/Twig"]
	path = lib/Twig
	url = https://github.com/fabpot/Twig.git

[submodule "lib/Goutte"]
	path = lib/Goutte
	url = https://github.com/fabpot/Goutte.git
